:root {
  --white: #F3F7EC;
  --black: #3C3D37;
  --primary: #4535C1;
  --alert: #F0EAAC;
}

@keyframes animatedBackground {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}

html {
  font-size: 62.5%;
}
/* Aplica la animación al cuerpo del documento */
body {
  animation: animatedBackground 20s linear infinite alternate;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  font-size: 2rem
}